<%= content_tag :li, :class => (active ? "active" : "") do %>
	<%= link_to account do %>
		<%= account.name %>
		<span class="nav-item-right nav-item-amount">
			<%= number_to_currency(account.available, :locale => account.currency.locale) %>
		</span>
	<% end %>
<% end %>