<li class="nav-header"></i><%= t('accounts.favorites') %></li>
<% current_user.accounts.users.favorites.each do |a| %>
	<% active = a == @account %>
	<%= render partial: "sidebar/account_item", locals: {account: a, active: active } %>
<% end %>
<li class="nav-header"></i><%= t('accounts.others')%></li>
<% current_user.accounts.users.no_favorites.each do |a| %>
	<% active = a == @account %>
	<%= render partial: "sidebar/account_item", locals: {account: a, active: active } %>
<% end %>
