<li class="nav-header"></i><%= t('sidebar.header.shortcuts') %></li>
	<li><%= link_to icon_tag(:pencil) + ' ' + t('sidebar.shortcuts.new_account'), new_account_path %></li>
	<% if current_user.budget.present? %>
	<li><%= link_to icon_tag(:calendar) + ' ' + current_user.budget.name.html_safe, current_user.budget %></li>
	<% end %>