<div class="page-header">
	<h1 id="title">Klinkers personal finance</h1>
</div>
<div class="row-fluid">
	<div class="span8">
		
		<div class="row-fluid">
			<div class="alert alert-info">
				<strong>Alpha/Beta/Demo</strong>
				<p>Klinkers är bara i fosterstadiet än så länge så räkna med buggar (:</p>
			</div>
		</div>
	
		<div class="row-fluid">
			<div class="span4">
				<div class="thumbnail">
					<%= image_tag 'account.png' %>
					<h3>Ta kontroll över din ekonomi</h3>
					<p>Med Klinkers kan du hålla reda på alla dina konton, lån, <strike>portföljer</strike> och följa kassaflödet.</p>
				</div>
			</div>
			<div class="span4">
				<div class="thumbnail">
					<%= image_tag 'budget_progress.png' %>
					<h3>Skapa feta budgetar</h3>
					<p>Budgetera flera konton och kategories under olika tidsramar.</p>
				</div>
			</div>
			<div class="span4">
				<div class="thumbnail">
					<%= image_tag 'overview.png' %>
					<h3>Tokenkelt gränssnitt</h3>
					<p>Baserat på det asgrymma <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>, från Twitter för den övergripande designen och <a href="http://g.raphaeljs.com/">gRaphaël</a> för härliga grafer.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="span4">
		<%= render "sessions/form" %>
	</div>
</div>