<div class="page-header">
	<h1 id="title">Klinkers personal finance</h1>
</div>
<div class="row-fluid">
	<div class="span8">
		<div class="row-fluid">
			<div class="span4">
				<%= image_tag 'overview.png', :class => "thumbnail" %>
				<h3>Manage your economy</h3>
				<p>With Klinkers you can manage your economy... blah blah.</p>
			</div>
			<div class="span4">
				<%= image_tag 'overview.png', :class => "thumbnail" %>
				<h3>Create sweet budgets</h3>
				<p>With Klinkers you can manage your economy... blah blah.</p>
			</div>
			<div class="span4">
				<%= image_tag 'overview.png', :class => "thumbnail" %>
				<h3>Nicely styled reports</h3>
				<p>With Klinkers you can manage your economy... blah blah.</p>
			</div>
		</div>
	</div>
	<div class="span4">
		<%= render "sessions/form" %>
	</div>
</div>