<div class="page-header">
	<h1 id="title">Klinkers personal finance</h1>
</div>
<div class="row-fluid">
	<div class="span8">
		
		<div class="row-fluid">
			<div class="span12 alert alert-info">
				<h5>Alpha/Beta/Demo</h5>
				<p>Klinkers is in very early development so count on bugs!</p>
			</div>
		</div>
	
		<div class="row-fluid">
			<div class="span4">
				<%= image_tag 'account.png', :class => "thumbnail" %>
				<h3>Manage your economy</h3>
				<p>With Klinkers you can manage your economy. Setup all your accounts, loans, <strike>portfolios</strike> and track the cash flow.</p>
			</div>
			<div class="span4">
				<%= image_tag 'budget_progress.png', :class => "thumbnail" %>
				<h3>Create sweet budgets</h3>
				<p>Budgets for multiple accounts, categories and time frames.</p>
			</div>
			<div class="span4">
				<%= image_tag 'overview.png', :class => "thumbnail" %>
				<h3>Nicely styled interface</h3>
				<p>Based on the awesome <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>, from Twitter for the overall design and <a href="http://g.raphaeljs.com/">gRaphaël</a> for hardcore charts.</p>
			</div>
		</div>
	</div>
	<div class="span4">
		<%= render "sessions/form" %>
	</div>
</div>