#account_opening_date_1i, #transaction_operation_date_1i { width: 64px; }
#account_opening_date_2i, #transaction_operation_date_2i { width: 100px; }
#account_opening_date_3i, #transaction_operation_date_3i { width: 50px; }

.manual-stripe {
	background-color: #F9F9F9;
}

.modal form {
	margin-bottom: 0px;
}

div.actions {
	margin-bottom: 18px;
}